body {
  background: #F0CF65;
  font-family: 'Sanchez', serif;
  // font-family: 'Permanent Marker', cursive;
}

.btn-default {
  border-radius: 100px;
  background-color: #DDEDAA;
}

.btn-info {
  background-color: #93B5C6;
}

.col-xs-6 btn btn-success {
  background-color: #D7816A;
}

.container-fluid {
  background-color: rgba(#bd4f6c, 0.63);
}

.google {
  background: none;
  border-radius: 10px;
  color: none;
  border: thin;
}

.list-group {
  font-size: 16px;
}

.list-group-item {
  font-family: 'Permanent Marker', cursive;
}

h2 {
  font-size: 20px;
  color: rgb(170, 33, 3);
}
